[submodule "submodules/jyutcitzi-RIME"]
	path = submodules/jyutcitzi-RIME
	url = https://github.com/cantonese-jyutcitzi/jyutcitzi-RIME.git
	branch = main
[submodule "submodules/rime-cantonese"]
	path = submodules/rime-cantonese
	url = https://github.com/rime/rime-cantonese.git
[submodule "transliteration/vendor/jyutcitzi-transliterate"]
	path = transliteration/vendor/jyutcitzi-transliterate
	url = https://github.com/cantonese-jyutcitzi/jyutcitzi-transliterate.git
	branch = main
